nav {
	height: 2rem;
	user-select: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 0px 1px 1px 1px #ccc;
	z-index: 1;
}
/*Temp overrides until colors sorted out*/
nav summary {
	border-radius: 0.3125rem;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	cursor: pointer;
}
nav summary:hover {
	background: #efefef;
}
nav h2 {
	font-size: 1rem;
	margin: 0.5rem 0;
	padding-left: 0.5rem;
}
nav button,
nav summary,
nav a { 
	border-radius: 0;
	color: black;
	margin-right: 0;
	min-width: 2rem;
	height: 2rem;
	background: white;
	width: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 0 0.5rem;
}
nav button::after,
nav summary::after,
nav a::after{
	content: "";
	position: absolute;
	right: 0px;
	height: 1rem;
	width: 1px;
	background: #ccc;
}
nav button:hover {
	background-color: #efefef;
}
nav details {
	position: relative;
	height: 100%;
}
nav details .list {
	position: absolute;
	left: 0;
	z-index: 1;
	width: 100%;
	background: white;
	box-shadow: 0px 1px 1px 1px #ccc;
}
nav details button {
	width: 100%;
	overflow-x: hidden;
	text-overflow: ellipsis;
	justify-content: flex-start;
}
nav details button::after {
	content: none;
}
nav details button svg {
	margin-right: 0.5rem;
	flex-shrink: 0;
}
nav details li {
	width: 100%;
}
footer { 
	height: 30px; 
}
app-root { 
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
}
main {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	flex: 1;
	z-index: 0;
}
#edit-panel {
	height: 100%;
	width: 50%;
}
#edit-panel .tab-contents {
	height: calc(100% - 2rem);
}
#edit-panel .tab-content{
	z-index: 0;
}
#edit-panel .tab-content.selected  {
	z-index: 1;
}

#edit-panel #css-editor {
	background: #ccc;
}

.editor {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
}
.editor .CodeMirror{
	height: 100%;
}
#output {
	height: 100%;
	width: 50%;
	border: 1px solid black;
}


.tab {
	display: inline-block;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-left: none;
	vertical-align: top;
	background-color: #FFFFFF;
	box-sizing: border-box;
	margin-right: 0px;
	font-size: 16px;
	position: relative;
	top: -1px;
	z-index: 1;
}
.tab:first-child { border-left: 1px solid #CCCCCC; }
.tab.selected {
	border-top: #ffffff;
	padding: 5px 3px;
}
#preview {
	height: 100%;
	display: block;
	width: 100%;
	box-sizing: border-box;
	background-color: #ffffff;
	background-image: var(--checker);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, 10px 0px;
}
#preview:after { 
	content: "SVG"; 
	position: absolute; 
	right: 0px; 
	bottom: 0px; 
}
#export {
	height: 50%;
	width: 100%;
	padding: 5px;
	border-top: 1px solid black;
	box-sizing: border-box;
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: none;
	background-color: #ffffff;
	background-image: var(--checker);
	background-size:20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, 10px 0px;
  	overflow: auto;
}
#export:after { content: "Canvas"; position: absolute; right: 0px; bottom: 0px; }
#main {
	height: calc(100% - 60px);
	box-sizing: border-box;
	position: relative;
}

#btn-tools { width: 6rem; }
#btn-save { background-image: url(../svg/disk.svg); background-repeat: no-repeat; background-position: center center; }
#btn-export { background-image: url(../svg/export.svg); background-repeat:no-repeat; background-position: center center; }
#btn-export-preview { background-image: url(../svg/export-preview.svg); background-repeat:no-repeat; background-position: center center; }
#btn-pretty-print { background-image: url(../svg/bracket.svg); background-repeat:no-repeat; background-position: center center; }
#btn-background-color { background-image: url(../svg/background.svg); background-repeat: no-repeat; background-position: center center; }
#btn-dropbox { background-image: url(../svg/d-box.svg); background-repeat:no-repeat; background-position: center center; }

.tabs {
	font-size: 0px;
	white-space: nowrap;
	-webkit-user-select: none;
	user-select: none;
}

.workspace { z-index: 0; }
.workspace.active { z-index: 1; }
#mode-svg.svg-over { border: 2px solid green; }
#mode-css.css-over { border: 2px solid blue; }

dialog h2 {
	margin-top: 0px;
}
dialog .close{
	display: block;
	width: 1rem;
	height: 1rem;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	background: transparent;
	margin: 0;
}
dialog .close:hover{
	color: red;
}


