
:root{
	--background: #fff;
	--border: #ccc;
	--text: #000;
	--text-alt: #fff;
	--shadow: #ccc;

	--primary-medium: #ff6400;
	--primary-dark: #904800;
	--complimentary-medium: blue;
	--complimentary-dark: darkblue;
	--warn-medium: #904800;
	--warn-light: #fbdda3;
	--negative-medium: #cc0000;
	--negative-light:  #ffebeb;
	--info-medium: #0000cc;
	--info-light: #d9dbff;
	--positive-medium: #008000;
	--positive-light: #e2ffd9;
}

@media (prefers-color-scheme: dark){
	:root {
		--background: #333;
		--border: #666;
		--text: #fff;
		--shadow: #111;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
}
*:not(:defined){
	display: block;
	visibility: hidden;
}
body,html {
	margin : 0;
	padding: 0;
	font-family: arial;
	font-size: 100%;
	background-color: var(--background);
	color: var(--text);
	height: 100%;
}
label, button, textarea, input {
	display: block;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
button {
	margin: 0;
}
ul, ol {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
textarea,
input[type='text'],
input[type='password'],
input[type='url'],
input[type='search'] {
	width: 100%;
}
input[type='text'],
input[type='password'],
input[type='url'],
input[type='search'],
input[type='number'],
input[type='color'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='email'],
input[type='tel'] {
	height: 2rem;
	border: 1px solid var(--border);
	background-color: var(--background);
}
textarea {
	height: 20rem;
	border: 1px solid var(--border);
	background-color: var(--background);
}
dialog {
	border: none;
	box-shadow: 0px 0px 3px 3px var(--shadow);
}
button,
.link-button {
	background: var(--primary-medium);
	border: none;
	border-radius: 0.3125rem;
	padding: 0.5rem;
	color: var(--text-alt);
	cursor: pointer;
	margin-right: 0.5rem;
}
button:hover,
.link-button:hover {
	background: var(--primary-dark);
}
button:focus,
.link-button:focus {
	outline: none;
}
button.toggle,
.link-button.toggle{
	position: relative;
	border-radius: 1rem;
	width: 4rem;
	height: 2rem;
	border: 1px solid var(--border);
	padding: 0;
	background: var(--complimentary-medium);
	transition: 0.25s;
}
button.toggle::after,
.link-button.toggle::after{
	content: "";
	display: block;
	border-radius: 1rem;
	width: 2rem;
	height: calc(2rem - 2px);
	border: 1px solid var(--border);
	background: var(--background);
	position: absolute;
	top: 0;
	left: 0;
}
button.toggle.on,
.link-button.toggle.on {
	border: 1px solid var(--border);
	background-color: var(--negative-medium)
}
button.toggle.on::after{
	transform: translateX(2rem);
}

button.toggled:hover,
.link-button.toggled:hover {
	background: var(--complimentary-dark);
}
.hidden {
	display: none !important;
}
.row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.stack{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}
.error {
	color: var(--negative-medium);
	background: var(--negative-light);
	border: 1px solid var(--negative-medium);
	padding: 0.5rem;
	margin-bottom: 1rem;
}
.success {
	color: var(--positive-medium);
	background: var(--positive-light);
	border: 1px solid var(--positive-medium);
	padding: 0.5rem;
	margin-bottom: 1rem;
}
.warn {
	color: var(--warn-medium);
	background: var(--warn-light);
	border: 1px solid var(--warn-medium);
	padding: 0.5rem;
	margin-bottom: 1rem;
}
.info {
	color: var(--info-medium);
	background: var(--info-light);
	border: 1px solid var(--info-medium);
	padding: 0.5rem;
	margin-bottom: 1rem;
}


nav {
	height: 2rem;
	user-select: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
/*Temp overrides until colors sorted out*/
nav button { 
	border: 1px solid black;
	color: black;
}
nav button:hover {
	background-color: #efefef;
}
footer { 
	height: 30px; 
}
app-root { 
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
}
main {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	flex: 1;
}
#edit-panel {
	height: 100%;
	width: 50%;
}
#edit-panel .tab-contents {
	height: calc(100% - 2rem);
}
#edit-panel .tab-content{
	z-index: 0;
}
#edit-panel .tab-content.selected  {
	z-index: 1;
}

#edit-panel #css-editor {
	background: #ccc;
}

.editor {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
}
.editor .CodeMirror{
	height: 100%;
}
#output {
	height: 100%;
	width: 50%;
	border: 1px solid black;
}


.tab {
	display: inline-block;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-left: none;
	vertical-align: top;
	background-color: #FFFFFF;
	box-sizing: border-box;
	margin-right: 0px;
	font-size: 16px;
	position: relative;
	top: -1px;
	z-index: 1;
}
.tab:first-child { border-left: 1px solid #CCCCCC; }
.tab.selected {
	border-top: #ffffff;
	padding: 5px 3px;
}
#preview {
	height: 100%;
	display: block;
	width: 100%;
	box-sizing: border-box;
	background-color: #ffffff;
	background-image:
      linear-gradient(45deg, #eee 25%, transparent 25%),
	  linear-gradient(-45deg, #eee 25%, transparent 25%),
	  linear-gradient(45deg, transparent 75%, #eee 75%),
      linear-gradient(-45deg, transparent 75%, #eee 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, 10px 0px;
}
#preview:after { 
	content: "SVG"; 
	position: absolute; 
	right: 0px; 
	bottom: 0px; 
}
#export {
	height: 50%;
	width: 100%;
	padding: 5px;
	border-top: 1px solid black;
	box-sizing: border-box;
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: none;
	background-color: #ffffff;
	background-image:
		linear-gradient(45deg, #eee 25%, transparent 25%),
		linear-gradient(-45deg, #eee 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #eee 75%),
		linear-gradient(-45deg, transparent 75%, #eee 75%);
	background-size:20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, 10px 0px;
  	overflow: auto;
}
#export:after { content: "Canvas"; position: absolute; right: 0px; bottom: 0px; }
#main {
	height: calc(100% - 60px);
	box-sizing: border-box;
	position: relative;
}

nav button,
nav a { display: block; padding: 0px; height: 2rem; width: 2rem; overflow: hidden; background-color: white; }
#btn-save { background-image: url(../svg/disk.svg); background-repeat: no-repeat; background-position: center center; }
#btn-export { background-image: url(../svg/export.svg); background-repeat:no-repeat; background-position: center center; }
#btn-export-preview { background-image: url(../svg/export-preview.svg); background-repeat:no-repeat; background-position: center center; }
#btn-line{ background-image: url(../svg/line.svg); background-repeat:no-repeat; background-position: center center; }
#btn-circle{ background-image: url(../svg/circle.svg); background-repeat:no-repeat; background-position: center center; }
#btn-rect { background-image: url(../svg/square.svg); background-repeat:no-repeat; background-position: center center; }
#btn-polygon { background-image: url(../svg/triangle.svg); background-repeat:no-repeat; background-position: center center; }
#btn-ellipse { background-image: url(../svg/ellipse.svg); background-repeat:no-repeat; background-position: center center; }
#btn-path { background-image: url(../svg/path.svg); background-repeat:no-repeat; background-position: center center; }
#btn-text{ background-image: url(../svg/text.svg); background-repeat:no-repeat; background-position: 0px 3px; }
#btn-pretty-print { background-image: url(../svg/bracket.svg); background-repeat:no-repeat; background-position: center center; }
#btn-background-color { background-image: url(../svg/background.svg); background-repeat: no-repeat; background-position: center center; }
#btn-dropbox { background-image: url(../svg/d-box.svg); background-repeat:no-repeat; background-position: center center; }

.tabs {
	font-size: 0px;
	white-space: nowrap;
	-webkit-user-select: none;
	user-select: none;
}

.workspace { z-index: 0; }
.workspace.active { z-index: 1; }
#mode-svg.svg-over { border: 2px solid green; }
#mode-css.css-over { border: 2px solid blue; }

dialog{
	position: fixed;
	width: 50%;
	height: 50%;
	background: #ffffff;
	top: 25%;
	box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.5);
	z-index: 1;
	border: none;
	border-radius: 8px;
}
dialog h2 {
	margin-top: 0px;
}
dialog .close{
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 0px;
	background-color: #ffffff;
	border: 1px solid black;
	border-radius: 8px;
}
dialog .close::before{
	content: "X";
}
dialog .close:hover{
	color: red;
	border: 1px solid red;
}
